/* Global styles */

* {
	user-select: none;
}

body { 
	background-image: url("../img/bg.webp"); 
}

footer {
	margin-top: 2%;
   	width: 100%;
   	height: 1%;
	color: #fff;
	background-color: transparent;
	padding: 1% 0 2% 0;
}

h1 {
	margin-left: 3.5%;
	margin-right: 3.5%;
	margin-bottom: 0.5%;
	font-family: 'Mulish', sans-serif;
	font-size: 300%;
}

h4 {
	margin-left: 3.5%;
	margin-right: 3.5%;
	font-family: 'Mulish', sans-serif;
}

h2 {
	margin-left: 3.5%;
	margin-right: 3.5%;
	font-family: 'Mulish', sans-serif;
	text-align: right;
}

p {
	margin-left: 5.5%;
	margin-right: 3.5%;
	font-size: 175%;
	text-align: right;
	font-family: 'Mulish', sans-serif;
}

li {
	font-size: 75%;
}



ul {
	margin-left: 3.5%;
	margin-right: 3.5%;
	text-align: right;
	list-style-type:none
}

li {
	text-align: right;
	font-size: 150%;
	font-family: 'Mulish', sans-serif;
}

.margin-3 {
	margin-bottom: 3%;
}

.margin-25 {
	margin-bottom: 25%;
}









/* header*/

.header {
	padding-top: 1%;
	padding-bottom: 1%;
}

.header h1 {
	margin-top: 3%;
	color: white;
}

.nav-container{
    border: none !important; 
    outline: none !important;
}

.navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}





/* content*/

.content {
	margin: 2%;
	padding: 2%;
	background-color: #FFFFFF;
	border: solid 1px;
	border-color: #A9A9A9;
	border-radius: 15px;
}

::-webkit-content {
	margin: 2%;
	padding: 2%;
	background-color: #FFFFFF;
	border: solid 1px;
	border-color: #A9A9A9;
	border-radius: 15px;
}

::-moz-content {
	margin: 2%;
	padding: 2%;
	background-color: #FFFFFF;
	border: solid 1px;
	border-color: #A9A9A9;
	border-radius: 15px;
}

#save-tog {
	text-align: right;
}

#save-img {
	width: 45%;
	height: 45%;
<<<<<<< HEAD
  	margin-left: 33%;
  	margin-right: auto;
}

#plastic-img {
	width: 75%;
	height: 75%;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: 12%;
  	margin-bottom: 12%;
  	border: 1px solid #666;
}

#warm-img {
	width: 75%;
	height: 75%;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: 12%;
  	margin-bottom: 12%;
  	border: 1px solid #666;
}

#ith-wiki {
	color: #666;
	text-decoration: underline;
=======
>>>>>>> origin/main
}

#footer-txt {
	border-radius: 50px;
	border: solid 1px #666;
	background-color: #666;
	font-size: 125%;
	user-select: text;

#footer-txt a {
	color: #fff;
}





/* scrollbar */

::-webkit-scrollbar{
	width: 10px;
	background: #e6e4e2;
}

::-webkit-scrollbar-thumb{
	background: #b8b4b2;
	border: solid 1px;
	border-radius: 6px;
	border-color: #A9A9A9;
}

::-webkit-scrollbar-thumb:hover{
	background: #a19d9b;
	border: solid 1px;
	border-radius: 6px;
	border-color: #A9A9A9;
}

::-moz-scrollbar{
	width: 12px;
	background: #e6e4e2;
}

::-moz-scrollbar-thumb{
	background: #b8b4b2;
	border: solid 1px;
	border-radius: 6px;
	border-color: #A9A9A9;
}

::-moz-scrollbar-thumb:hover{
	background: #a19d9b;
	border: solid 1px;
	border-radius: 6px;
	border-color: #A9A9A9;
}