/* Global styles */

footer {
   	width: 100%;
   	height: 5%;
	color: #666;
	background-color: #222;
	padding: 1% 0 4% 0;
	border-top: 1px solid #000;
}

h1 {
	margin-left: 3.5%;
	margin-right: 3.5%;
	margin-bottom: 2%;
	font-family: 'Mulish', sans-serif;
	font-size: 350%;
}

h4 {
	margin-left: 3.5%;
	margin-right: 3.5%;
	font-family: 'Mulish', sans-serif;
}

h2 {
	margin-left: 3.5%;
	margin-right: 3.5%;
	font-family: 'Mulish', sans-serif;
}

p {
	margin-left: 5.5%;
	margin-right: 3.5%;
	font-size: 125%;
	font-family: 'Mulish', sans-serif;
}

li {
	font-size: 75%;
}

body { 
	background: #F5F5F5 !important; 
}

.margin-3 {
	margin-bottom: 3%;
}

.margin-25 {
	margin-bottom: 25%;
}









/* header*/

.header {
	padding-top: 1%;
	padding-bottom: 1%;
}

.header h1 {
	margin-top: 3%;
	color: white;
}

.nav-container{
    border: none !important; 
    outline: none !important;
}

.navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}





/* content*/

.content {
	margin: 2%;
	padding: 2%;
	background-color: #FFFFFF;
	border: solid 1px;
	border-color: #A9A9A9;
}

#save-tog {
	text-align: right;
}

#save-img {
	width: 50%;
	height: 50%;
}





/* scrollbar */

::-webkit-scrollbar{
	width: 10px;
	background: #e6e4e2;
}

::-webkit-scrollbar-thumb{
	background: #b8b4b2;
	border: solid 1px;
	border-radius: 6px;
	border-color: #A9A9A9;
}

::-webkit-scrollbar-thumb:hover{
	background: #a19d9b;
	border: solid 1px;
	border-radius: 6px;
	border-color: #A9A9A9;
}

::-moz-scrollbar{
	width: 12px;
	background: #e6e4e2;
}

::-moz-scrollbar-thumb{
	background: #b8b4b2;
	border: solid 1px;
	border-radius: 6px;
	border-color: #A9A9A9;
}

::-moz-scrollbar-thumb:hover{
	background: #a19d9b;
	border: solid 1px;
	border-radius: 6px;
	border-color: #A9A9A9;
}