/* Global styles */

body { 
	background-image: url("../img/bg.webp"); 
}

footer {
	margin-top: 2%;
   	width: 100%;
   	height: 1%;
	color: #fff;
	background-color: transparent;
	padding: 1% 0 2% 0;
}

h1 {
	margin-left: 3.5%;
	margin-right: 3.5%;
	margin-bottom: 2%;
	font-family: 'Mulish', sans-serif;
	font-size: 350%;
}

h4 {
	margin-left: 3.5%;
	margin-right: 3.5%;
	font-family: 'Mulish', sans-serif;
}

h2 {
	margin-left: 3.5%;
	margin-right: 3.5%;
	font-family: 'Mulish', sans-serif;
	text-align: right;
}

p {
	margin-left: 5.5%;
	margin-right: 3.5%;
	font-size: 125%;
	font-family: 'Mulish', sans-serif;
}

li {
	font-size: 75%;
}



ul {
	margin-left: 3.5%;
	margin-right: 3.5%;
	text-align: right;
	list-style-type:none
}

li {
	text-align: right;
	font-size: 150%;
	font-family: 'Mulish', sans-serif;
}

.margin-3 {
	margin-bottom: 3%;
}

.margin-25 {
	margin-bottom: 25%;
}









/* header*/

.header {
	padding-top: 1%;
	padding-bottom: 1%;
}

.header h1 {
	margin-top: 3%;
	color: white;
}

.nav-container{
    border: none !important; 
    outline: none !important;
}

.navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}





/* content*/

.content {
	margin: 2%;
	padding: 2%;
	background-color: #FFFFFF;
	border: solid 1px;
	border-color: #A9A9A9;
	border-radius: 15px;
}

::-webkit-content {
	margin: 2%;
	padding: 2%;
	background-color: #FFFFFF;
	border: solid 1px;
	border-color: #A9A9A9;
	border-radius: 15px;
}

::-moz-content {
	margin: 2%;
	padding: 2%;
	background-color: #FFFFFF;
	border: solid 1px;
	border-color: #A9A9A9;
	border-radius: 15px;
}

#save-tog {
	text-align: right;
}

#we-know {
	padding-right: 1%;
	margin-top: 6%;
	text-align: right;
}

#but {
	padding-right: 1%;
	margin-top: 8%;
	text-align: right;
}

#but:hover {
	border-radius: 50px;
	background-color: #fff261;
}

#but-down {
	padding-right: 1%;
	margin-top: 2%;
	text-align: right;
}

#we-know:hover {
	border-radius: 50px;
	background-color: #fff261;
}

#haim {
	font-size: 1.75em;
}

#haim1 {
	font-size: 1.75em;
}

#haim2 {
	font-size: 1.75em;
}


#haim3 {
	font-size: 1.75em;
}

#erf {
	margin-top: 12%;
}

#helps {
	text-align: right;
}

#save-img {
	width: 50%;
	height: 50%;
}

#efim {
	margin-left: 16%;
	margin-top: 6%;
	width: 65%;
}

#list {
	margin-top: 7.5%;
}

#l1 {
	margin-top: 2%;
}

#l2 {
	margin-top: 2%;
}


#l3 {
	margin-top: 2%;
}


#l4 {
	margin-top: 2%;
}

#green {
	padding: 15px;
	font-size: 1.85em;
	text-decoration: none;
	border: solid 1px #666;
	border-radius: 25px;
	color: #666;
}

#green:hover {
	color: #fff;
	background-color: #66cc00;
	border-radius: 25px;
}

#btn {
	margin-top: 12%;
	text-align: center;
}

#footer-txt {
	border-radius: 50px;
	porder: solid 1px #666;
	background-color: #666;
}

#footer-txt a {
	color: #fff;
}





/* scrollbar */

::-webkit-scrollbar{
	width: 10px;
	background: #e6e4e2;
}

::-webkit-scrollbar-thumb{
	background: #b8b4b2;
	border: solid 1px;
	border-radius: 6px;
	border-color: #A9A9A9;
}

::-webkit-scrollbar-thumb:hover{
	background: #a19d9b;
	border: solid 1px;
	border-radius: 6px;
	border-color: #A9A9A9;
}

::-moz-scrollbar{
	width: 12px;
	background: #e6e4e2;
}

::-moz-scrollbar-thumb{
	background: #b8b4b2;
	border: solid 1px;
	border-radius: 6px;
	border-color: #A9A9A9;
}

::-moz-scrollbar-thumb:hover{
	background: #a19d9b;
	border: solid 1px;
	border-radius: 6px;
	border-color: #A9A9A9;
}